Question 1

Database is a storage where different types of data stored either in structure format or unstructure format. SQL :- It stands for Structure Query Language. In this type of database all the data is stored in structured form. NOSQL :- It stands for Not Only Structure Query Language. In this type of database we can store both types of data, structure as well as unstructure.

Question 2

DDL :- It stands for Data Definition Language. It is the group of commands that is use to change the structure of a database.

CREATE Command :- This command is use for creating table in database.

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE My_Database.Table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(30))")
mydb.close()

DROP Command :- Completely removes the table from the database along with the destruction of the table structure.

In [8]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE My_Database.Table")
mydb.close()

ALTER Command :- It is use for altering the table.

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE My_Database.Table ADD (c6  VARCHAR(200))")
mydb.close()

TRUNCATE Command :- This command removes all the records from a table.

In [10]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE My_Database.Table")
mydb.close()

Question 3

DML :- It stands for Data Manipulation Language. It is the set of SQL commands that is use to manipulate the data present in database.

INSERT Command :- It is use to insert data into table.

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into My_Database.Table values(123, 'Utkarsh', 234.45, 234, 'Kumar')")
mycursor.execute("insert into My_Database.Table values(123, 'Utkarsh', 234.45, 234, 'Kumar')")
mycursor.execute("insert into My_Database.Table values(123, 'Utkarsh', 234.45, 234, 'Kumar')")
mydb.commit()
mydb.close()

UPDATE Command :- It is use to update the existing data in the table.

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("UPDATE My_Database.Table SET c1=543 WHERE c2='Utkarsh' ")
mydb.commit()
mydb.close()

DELETE Command :- It is use to delete records form databse table.

In [10]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM My_Database.Table WHERE c1=543")
mydb.commit()
mydb.close()

Question 4

DQL :- It stands for Data Query Language. It allows getting data from the database and imposing order upon it.

SELECT :- It is use to retrieve the data from database.

In [18]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT c1,c5 FROM My_Database.Table WHERE c2='Abhishek' ")
mydb.close()

Question 5

Primary Key :- It is the column in the relational database which is unique and it also help in establing a relationship with other table.
Foreign Key :- It is the unique column in the other table through which first table is connected.

Question 6

In [19]:
# Connecting My SQL to python
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7c4be87a1eb0>

Cursor() :- It is the method through which python commands interact with database and it works as the pointer that points a particular thing in database.
Execute() :- This method is used for executing the commands from python interface to the database.

Question 7

Order of Execution of SQL clauses are as follows :- 
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT